
<div class="memory-game-container">
<h1>Memory Game</h1>
<div class="image-container">
    <div class="card">
        <a routerLink="/card-game" class="make-flex">
            <img src="../../assets/six.jpg" alt="6-card game" class="image">
            <div class="caption">6 Card Game</div>
        </a>
       
    </div>

    <div class="card">
        <a routerLink="/card-twelve-game" class="make-flex">
            <img src="../../assets/twelve.jpg" alt="12-card game" class="image">
            <div class="caption">12 Card Game</div>
        </a>
       
    </div>
</div>
</div>
